.bg-navy-blue{
background:#0092e0;
}

.bg-white{
background:#fff;
box-shadow: 0px 0px 0px #ccc;
}

.player-container{
    border: 3px solid #fff;
    padding: 20px;
    margin:20px;
}
.player-data{
    width: 50%;
    float: left;
    padding: 20px;

}
